// WiFi settings
#define WIFI_SSID "WIFI_SSID"
#define WIFI_PASS "WIFI_PASS"

// Websocket server settings
#define WS_SERVER_HOST "192.168.1.1"
#define WS_SERVER_PORT 00
#define WS_SERVER_PATH "/ws"

// Sensor pins settings
#define PIN_WATERFLOW 00
#define PIN_TEMPERATURE 00
#define PIN_WATERBUMP 00
#define PIN_WATERVALVE 00

// Super sonic sensor 
#define PIN_TRIG 12
#define PIN_ECHO 13

// Water tower 
#define MAX_HEIFHT  1.235 // (unit: cm)
#define BOTTOM_AREA 0.123 // (unit: cm2)
#define OFFSET_HEIGHT 1.2 // (unit: cm)
/*
      ┌───────┐
      └───────┘
   ↑
 ┃ │ OFFSET_HEIGHT ┃
 ┃ ↓               ┃ 
 ┝─────────────────┤
 ┃ ↑               ┃
 ┃ │               ┃
 ┃ │ MAX_HEIFHT    ┃
 ┃ │               ┃
 ┃ │               ┃
 ┃ ↓               ┃
 └─────────────────┘
 
*/

// Debug section
#define LOG_TIMESTAMP true

/* LOG LEVEL
 1: Error
 2: Error + Warn
 3: Error + Warn + Info
 4: Error + Warn + Info + Debug
*/
#define OLED_LEVEL 4
#define WEBSOCKET_LEVEL 4
#define WATERFLOW_LEVEL 4
#define TEMPERATURE_LEVEL 4

/* Disable features */
#define SKIP_WEBSOCKET false
