// WiFi related settings
#define wifi_ssid "wifi_name"
#define wifi_pass "wifi_psk"

// Websocket target server settings
#define ws_server_host "XXX.XXX.XXX.XXX"
#define ws_server_port 65535
#define ws_server_path "/"

// Sensor pins settings
#define pin_waterflow 36
#define pin_temperature 17
#define delay_waterflow 1000 // Send data period (ms)

// Debug section
#define skip_websocket false